.home {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;

    .form {
        padding: 50px;
        backdrop-filter: blur(10px);

        .label {
            font-size: 1.5vw;
        }

        input {
            text-align: center;
            font-size: 1vw;
            width: 200px;
            margin: 30px;
            padding: 10px;
            outline: none;
            border: none;
            border-radius: 2px;
        }

        button {
            font-size: 1vw;
            color: white;
            padding: 10px 20px;
            background-color: black;
            cursor: pointer;
            border: none;
        }
    }

    @media only screen and (max-width: 600px) {
        .form {
            .label {
                font-size: 6vw;
                color: white;
            }

            input {
                font-size: 5vw;
            }

            button {
                font-size: 4vw;
                padding: 10px 30px;
            }
        }
    }
}
